name: win

on:
  push:
    branches: [ "main" ]
    paths:
      - '**/*.dart'
      - 'pubspec.yaml'
      - '**/dart_win.yml'

jobs:
  build:
    if: "contains(github.event.head_commit.message, 'win')"
    runs-on: windows-latest
    steps:
      - name: Output Commit Information
        run: |
          echo "触发此次action的提交ID: ${{ github.sha }}"
          echo "提交信息: ${{ github.event.head_commit.message }}"
          echo "提交作者: ${{ github.event.head_commit.author.name }}"
          $GITHASH = "${{ github.sha }}".Substring(0,7)
          echo "GITHASH=$GITHASH" >> $env:GITHUB_ENV
          echo "GITHASH (前7位): $GITHASH"
        shell: pwsh
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.35.7'
      - run: flutter --version
      - run: flutter pub get
      
      - run: flutter build windows --dart-define=gitHash=${{ env.GITHASH }}
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
              name: windows-build-artifact
              path: build/windows/x64/runner/Release/**
         # 打包构建产物为 ZIP 文件
      - name: Compress Build Artifacts
        run: |
          powershell Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath build/windows-build-artifact-${{ env.GITHASH }}.zip
      # 从 pubspec.yaml 提取版本号
      - name: Extract Version from pubspec.yaml
        id: extract_version
        run: |
          $version = (Select-String -Path pubspec.yaml -Pattern '^version:' | ForEach-Object { $_.Line -replace 'version:\s*', '' }).Trim()
          echo "VERSION=$version" >> $env:GITHUB_ENV
        shell: pwsh
      - name: Debug Version
        run: echo "${{ env.VERSION }}"
      
      # 删除该 Release 下所有旧的 Windows 构建文件
      - name: Delete Old Windows Assets from Release
        run: |
          gh release view "${{ env.VERSION }}" --json assets --jq '.assets[].name' | Select-String -Pattern 'windows-build-artifact-.+\.zip$' | ForEach-Object {
            $asset = $_.Line.Trim()
            Write-Host "Deleting old asset: $asset"
            gh release delete-asset "${{ env.VERSION }}" "$asset" --yes 2>$null
          }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
        shell: pwsh
        
      # 上传新的资产到最新 Release
      - name: Upload New Asset to Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ env.VERSION }}
          files: build/windows-build-artifact-${{ env.GITHASH }}.zip
          prerelease: ${{ !contains(github.event.head_commit.message, 'sta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          