name: apk

on:
  push:
    branches: ["main"]
    paths:
      - "**/*.dart"
      - "pubspec.yaml"
      - "**/dart.yml"

jobs:
  build:
    if: "contains(github.event.head_commit.message, 'apk')"
    runs-on: ubuntu-latest
    steps:
      - name: Output Commit Information
        run: |
          echo "触发此次action的提交ID: ${{ github.sha }}"
          echo "提交信息: ${{ github.event.head_commit.message }}"
          echo "提交作者: ${{ github.event.head_commit.author.name }}"
          GITHASH=$(echo "${{ github.sha }}" | cut -c1-7)
          echo "GITHASH=$GITHASH" >> $GITHUB_ENV
          echo "GITHASH (前7位): $GITHASH"
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.35.7"
      - run: flutter --version
      - run: flutter pub get

      - name: 解码生成 jks
        run: echo $KEYSTORE_BASE64 | base64 -di > android/app/xuan.jks
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      # - run: cat android/app/xuan.jks

      - name: flutter build apk --split-per-abi
        run: flutter build apk --release --split-per-abi --dart-define=gitHash=${{ env.GITHASH }}
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      - name: flutter build apk
        run: flutter build apk --release --dart-define=gitHash=${{ env.GITHASH }}
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          
      - name: Rename first batch APK files
        run: |
          mv build/app/outputs/flutter-apk/app-arm64-v8a-release.apk "build/app/outputs/flutter-apk/app-arm64-v8a-release-without embedded Cronet-${GITHASH}.apk"
          mv build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk "build/app/outputs/flutter-apk/app-armeabi-v7a-release-without embedded Cronet-${GITHASH}.apk"
          mv build/app/outputs/flutter-apk/app-x86_64-release.apk "build/app/outputs/flutter-apk/app-x86_64-release-without embedded Cronet-${GITHASH}.apk"
          mv build/app/outputs/flutter-apk/app-release.apk "build/app/outputs/flutter-apk/app-release-without embedded Cronet-${GITHASH}.apk"
        shell: bash
          
        # 上传分平台生成的 APK 文件

      - name: Upload arm64-v8a APK
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release-without embedded Cronet.apk
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release-without embedded Cronet-${{ env.GITHASH }}.apk
      - name: Upload armeabi-v7a APK
        uses: actions/upload-artifact@v4
        with:
          name: app-armeabi-v7a-release-without embedded Cronet.apk
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-release-without embedded Cronet-${{ env.GITHASH }}.apk
      - name: Upload x86_64 APK
        uses: actions/upload-artifact@v4
        with:
          name: app-x86_64-release-without embedded Cronet.apk
          path: build/app/outputs/flutter-apk/app-x86_64-release-without embedded Cronet.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-without embedded Cronet.apk
          path: build/app/outputs/flutter-apk/app-release-without embedded Cronet-${{ env.GITHASH }}.apk

      - name: flutter build apk --split-per-abi --dart-define=cronetHttpNoPlay=true
        run: flutter build apk --release --split-per-abi --dart-define=cronetHttpNoPlay=true --dart-define=gitHash=${{ env.GITHASH }}
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: flutter build apk
        run: flutter build apk --release --dart-define=cronetHttpNoPlay=true --dart-define=gitHash=${{ env.GITHASH }}
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      - name: Rename first batch APK files
        run: |
          mv build/app/outputs/flutter-apk/app-arm64-v8a-release.apk "build/app/outputs/flutter-apk/app-arm64-v8a-release-${GITHASH}.apk"
          mv build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk "build/app/outputs/flutter-apk/app-armeabi-v7a-release-${GITHASH}.apk"
          mv build/app/outputs/flutter-apk/app-x86_64-release.apk "build/app/outputs/flutter-apk/app-x86_64-release-${GITHASH}.apk"
          mv build/app/outputs/flutter-apk/app-release.apk "build/app/outputs/flutter-apk/app-release-${GITHASH}.apk"
        shell: bash
        # 上传分平台生成的 APK 文件
      - name: Upload arm64-v8a APK
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release.apk
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release-${{ env.GITHASH }}.apk
      - name: Upload armeabi-v7a APK
        uses: actions/upload-artifact@v4
        with:
          name: app-armeabi-v7a-release.apk
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-release-${{ env.GITHASH }}.apk
      - name: Upload x86_64 APK
        uses: actions/upload-artifact@v4
        with:
          name: app-x86_64-release.apk
          path: build/app/outputs/flutter-apk/app-x86_64-release-${{ env.GITHASH }}.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: build/app/outputs/flutter-apk/app-release-${{ env.GITHASH }}.apk

      # 从 pubspec.yaml 提取版本号
      - name: Extract Version from pubspec.yaml
        id: extract_version
        run: |
          $version = (Select-String -Path pubspec.yaml -Pattern '^version:' | ForEach-Object { $_.Line -replace 'version:\s*', '' }).Trim()
          echo "VERSION=$version" >> $env:GITHUB_ENV
        shell: pwsh
      - name: Debug Version
        run: echo "${{ env.VERSION }}"
      
      # 删除该 Release 下所有旧的 APK 文件
      - name: Delete Old APK Assets from Release
        run: |
          gh release view "${{ env.VERSION }}" --json assets --jq '.assets[].name' | grep -E '\.apk$' | while read asset; do
            echo "Deleting old asset: $asset"
            gh release delete-asset "${{ env.VERSION }}" "$asset" --yes || true
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
        
      # 上传新的资产到最新 Release
      - name: Upload New Asset to Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ env.VERSION }}
          prerelease: ${{ !contains(github.event.head_commit.message, 'sta') }}
          files: |
            build/app/outputs/flutter-apk/app-release-without embedded Cronet-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-arm64-v8a-release-without embedded Cronet-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-armeabi-v7a-release-without embedded Cronet-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-x86_64-release-without embedded Cronet-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-release-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-arm64-v8a-release-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-armeabi-v7a-release-${{ env.GITHASH }}.apk
            build/app/outputs/flutter-apk/app-x86_64-release-${{ env.GITHASH }}.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
