name: win

on:
  push:
    branches: [ "main" ]
    paths:
      - '**/*.dart'
      - 'pubspec.yaml'
      - '**/dart_win.yml'

jobs:
  build:
    if: "contains(github.event.head_commit.message, 'win')"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.35.7'
      - run: flutter --version
      - run: flutter pub get
      
      - run: flutter build windows
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
              name: windows-build-artifact
              path: build/windows/x64/runner/Release/**
         # 打包构建产物为 ZIP 文件
      - name: Compress Build Artifacts
        run: |
          powershell Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath build/windows-build-artifact.zip
      # 从 pubspec.yaml 提取版本号
      - name: Extract Version from pubspec.yaml
        id: extract_version
        run: |
          $version = (Select-String -Path pubspec.yaml -Pattern '^version:' | ForEach-Object { $_.Line -replace 'version:\s*', '' }).Trim()
          echo "VERSION=$version" >> $env:GITHUB_ENV
        shell: pwsh
      - name: Debug Version
        run: echo "${{ env.VERSION }}"
      # 上传新的资产到最新 Release
      - name: Upload New Asset to Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ env.VERSION }}
          files: build/windows-build-artifact.zip
          prerelease: ${{ !contains(github.event.head_commit.message, 'sta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          